.places {
    background-color: white;
}

.places h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #ff5a5f;
    border-radius: 4px;
} 

article h2 {
    font-size: 30px;
    text-align: left;
}

.places_header {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 100px;
    width: fit-content;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.information {
    height: 80px;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
}

.max_guest {
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.number_rooms {
    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.user {
    margin-top: 1em;
    margin-bottom: 1em;
}

.description textarea {
    resize: none;
    border: none;
}

.amenities, .reviews {
    margin-top: 15px;
}

.amenities h2,
.reviews h2 {
    font-size: 16px;
    border-bottom: solid 1px #ddd;
    text-align: left;
}

.amenities ul,
.reviews ul {
    list-style: none;
}

.amenities ul {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.amenities li,
.reviews li {
    margin-bottom: 5px;
}

.reviews h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.amenities p {
    text-align: center;
}
.pets {
    background: url("../images/icon_pets.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.tv {
    background: url("../images/icon_tv.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.wifi {
    background: url("../images/icon_wifi.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.pets, .tv, .wifi {
    width: 2.5em;
    height: 2.5em;
    margin-left: 10px;
    margin-right: 10px;
}
/*  */
.house1 {
    width: 70%;
    height: 150px;
    background: url("../images/house1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
}

.house2 {
    width: 70%;
    height: 150px;
    background: url("../images/house2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
}

.house3 {
    width: 80%;
    height: 150px;
    background: url("../images/house3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
}