header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    border-bottom: 1px #ccc solid;
}

.logo {
    background-image: url("../images/hbnb_logo.png");
    background-repeat: no-repeat;
    height: 70px;
    display: block;
    text-align: left;
    line-height: 70px;
    margin-left: 20px;
    width: 25%;
}