.filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px #ddd solid;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    /* transform: translateY(25%) translateX(-5%); */
    align-self: center;
}

button:hover {
    opacity: 0.9;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    text-align: left;
}

.locations {
    border-right: #ddd 1px solid;
}

.amenities {
    margin-right: 20em;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.popover {
    background-color: #fafafa;
    width: 100%;
    border: solid 1px #ddd;
    border-radius: 4px;
    display: none;
    padding-bottom: 5px;
    position: relative;
}

.popover ul, .popover li {
    list-style: none;
    
}

.popover ul {
    padding: 5px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.list_state {
    font-weight: bold;
    font-size: 16px;
}

.list_state_item {
    margin-left: 1em;
}